@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Pedro Afonso de Sousa<br />
    <abbr title="Telefone">Tel:</abbr> (11) 98386-1008
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:pedroafonsodesousa@outlook.com">pedroafonsodesousa@outlook.com</a><br />
</address>